{% extends 'base.html' %}


{% block content %}

<form action="/books/new" method="POST">
    <label for="title">Title</label>
    <input type="text" id="title" placeholder="title" name="title" required>

    <label for="pages">Number of pages:</label>
    <input type="number" id="pages" placeholder="no. of pages" min="1" max="1000" name="pages" required>

    <label for="author">Author:</label>
    <select name="id" id="author">
        {% for author in authors %}
        <option value="{{author.id}}">{{ author.first_name }}</option>
        {% endfor %}
    </select>
    <button>Submit</button>



</form>





{% endblock content %}