:root {
    --cream: #edf5e1;
    --lightGreen: #8ee4af;
    --green: #5cdb95;
    --blue: #05386b;

}

body {
    margin: 0;
    background-color: var(--lightGreen);
    font-family: 'Roboto', sans-serif;
}

#page-title {
    color: var(--blue);
    font-size: 2.5rem;
}

a {
    text-decoration: none;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
}

nav ul{
    display: flex;
}

nav ul li {
    list-style-type: none;
}


nav ul li a{
    text-decoration: none;
    color: var(--blue);
    font-size: 1.5rem;
    padding: 5px;
}



.book {
    background: var(--green);
    box-shadow: 5px 5px 8px var(--blue);
    border-radius: 5px;
    width: 400px;
    height: auto;
    color: white;
    font-size: 1.5rem;
    transition: all linear 0.3s;
    padding: 4px;
    text-align: center;
}

.book:hover {
    background: var(--green);
    box-shadow: 2px 2px 2px var(--blue);
    border-radius: 5px;
    width: 400px;
    height: auto;
    color: white;
    font-size: 1.5rem;
    transition: all linear 0.3s;
    padding: 4px;
}

.book li {
    list-style-type: none;
    margin-left: 10px;
}

.book-logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#book-logo{
    color: var(--blue);
    font-size: 2rem;
}

.book-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit-btn {
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: white;
    border: none;
    cursor: pointer;
    transition: all linear 0.3s;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

#edit-btn:hover {
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background: white;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px var(--blue);
    transition: all linear 0.3s;
    font-family: 'Roboto', sans-serif;
}

.single-book{
    background: var(--green);
    box-shadow: 5px 5px 8px var(--blue);
    border-radius: 5px;
    width: 400px;
    height: auto;
    color: white;
    font-size: 1.5rem;
    transition: all linear 0.3s;
    padding: 4px;
    text-align: center;
}

.home-div {
    color: var(--blue);
    text-align: center;
}